<h3>{{data.name}}</h3>
<ul>
    <li class="available-bikes">{{data.available_bikes}} vélos disponibles</li>
    <li class="free-slots">{{data.free_slots}} places libres</li>
    <li class="total">{{data.total}} places au total</li>
</ul>