<h3>{{data.name}}</h3>
<ul>
    <li class="available-bikes">{{data.available_bikes}} vélo(s) disponible(s)</li>
    <li class="free-slots">{{data.free_slots}} place(s) libre(s)</li>
    <li class="total">{{data.total}} place(s) au total</li>
</ul>