<h3>{{name}}</h3>
<ul>
    <li class="available-bikes">{{available_bikes}} vélo(s) disponible(s)</li>
    <li class="free-slots">{{free_slots}} place(s) libre(s)</li>
    <li class="total">{{total}} place(s) au total</li>
</ul>