.fullsize() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

#map {
  .fullsize();
}

@keyframes digitPop {
  0%{
    transform: translateY(0px);
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  100%{
    transform: translateY(-15px);
    opacity: 0;
  }
}

@width: 45px;
@purple: #6d3e91;
@green: #95c11f;
@orange: #ea5b0c;

.station-marker {
  position: absolute;
  margin: -@width/2 0 0 -@width/2;
  width: @width;
  height: @width;

  .text, canvas {
    position: absolute;
    width: @width;
    height: @width;
  }

  .text {
    font-weight: 600;
    color: @purple;
    text-align: center;
    line-height: @width;
  }

  .in, .out {
    position: absolute;
    width: @width * 2;
    left: 50%;
    top: 0;
    margin: -20px 0 0 -@width;
    text-align: center;
    display: none;
    z-index: 10;

    .change {
      font-size: 18px;
      animation: 0.8s digitPop both;
    }

    .bike {
      font-size: 22px;
    }
  }

  .in {
    color: @green;
  }

  .out {
    color: @orange;
  }
}

.position {
  font-size: 30px;
  color: @purple;
}

.leaflet-control-command {
  background-color: white;
  border-radius: 6px;
  padding: 5px 10px;
  margin-left: 60px;
  box-shadow: 0 0 5px rgba(0,0,0,.5);

  ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }
}

li.available-bikes {
  color: @green;
}

li.free-slots {
  color: @orange;
}

li.total {
  color: @purple;
}

.station-popup {

  .leaflet-popup-content-wrapper {
    background: url('../img/popup.png') no-repeat 0 0;
    width: 200px !important;
    height: 155px;
    padding: 10px 0 0 15px;
    box-shadow: 0 0 10px rgba(0,0,0,.4);

    h3 {
      background: url('../img/logo_3m.jpg') no-repeat left center;
      padding-left: 30px !important;
    }

    ul {
      padding-left: 30px;
    }
  }

  .leaflet-popup-tip {
    border-top-color: #6d3e91;
  }
}

.leaflet-control-attribution {
  display: none;
}